:root {
    --max-width-wrapper: 1920px;
    --container-padding: 20px;
    --max-width-container: 1000px;
    --header-height: 67px;
    --color-01: #2f3c44;
    --color-02: #f45730;
    --color-03: #f54e57;
    --color-04: #009ce4;
    --color-05: #946dc9;
    --color-06: #f3b322;
    --color-07: #03aa79;
    --color-08: #f1f1f1;
    --color-09: #ffffff;
    --color-10: #e9e9e9;
    --color-11: #c8c8c8;
    --color-12: #dee3e6;
    --color-13: #798389;
    --icon-color: #2f3c44;
    --font-color-primary: #2f3c44;
    --font-color-secondary: #ffffff;
    --button-font-color: #ffffff;
    --button-background-primary: #f45730;
    --button-background-primary-hover: #c3492a;
    --button-background-dark: #2f3c44;
    --button-background-dark-hover: #1f272d;
    --input-font-size: 18px;
    --input-font-size-label: 14px;
    --input-font-color: #2f3c44;
    --input-placeholder-font-color: #798389;
    --input-border-color: #c8c8c8;
    --input-border-color-active: #2f3c44;
    --input-border-color-error: #f45730;
    --input-border-radius: 7px;
    --input-checkbox-fill: #03aa79;
    --input-selected-color: #03aa79;
    --border-radius: 10px;
    --background-primary: #ffffff;
    --background-secondary: #03aa79;
    --background-tertiary: #f1f1f1;
    --z-index-header: 999;
}

@media (min-width: 768px) {
    :root {
        --header-height: 70px;
    }
}

@media (min-width: 768px) {
    :root {
        --header-height: 80px;
    }
}

@media (min-width: 1600px) {
    :root {
        --max-width-container: 1230px;
        --header-height: 92px;
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype");
}

body {
    font-family: "Roboto";
    font-size: 0.75rem;
    font-weight: 400;
    line-height: normal;
    color: var(--font-color-primary);
    background-color: var(--background-primary);
}

body.no-scroll {
    overflow: hidden;
}

.section-padding {
    padding: 25px 0;
}

@media (min-width: 768px) {
    .section-padding {
        padding: 30px 0;
    }
}

@media (min-width: 992px) {
    .section-padding {
        padding: 40px 0;
    }
}

@media (min-width: 1600px) {
    .section-padding {
        padding: 50px 0;
    }
}

.bg-secondary {
    background-color: var(--background-secondary);
}

.main-block {
    padding: 20px;
    margin: 0 0 20px 0;
    border-radius: var(--border-radius);
    background-color: var(--background-primary);
}

.main-block:last-child {
    margin: 0;
}

@media (min-width: 576px) {
    .main-block {
        max-width: 450px;
        padding: 30px 30px;
        margin: 0 auto 20px auto;
    }

    .main-block:last-child {
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .main-block {
        max-width: 500px;
        padding: 40px 30px;
    }
}

@media (min-width: 1600px) {
    .main-block {
        max-width: 600px;
        padding: 60px 50px;
    }
}

.button {
    width: 100%;
    height: 3.429em;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    color: var(--button-font-color);
    border-radius: var(--border-radius);
    background-color: var(--button-background-primary);
    border: none;
    outline: none;
    transition: background 0.2s linear;
}

@media (any-hover: hover) {
    .button:hover {
        background-color: var(--button-background-primary-hover);
    }
}

@media (min-width: 768px) {
    .button {
        width: auto;
        padding: 0 2.222em;
        font-size: 1rem;
    }
}

@media (min-width: 1600px) {
    .button {
        height: 3.333em;
        font-size: 1.125rem;
    }
}

.button_dark {
    background-color: var(--button-background-dark);
}

@media (any-hover: hover) {
    .button_dark:hover {
        background-color: var(--button-background-dark-hover);
    }
}

.wrapper {
    width: 100%;
    max-width: var(--max-width-wrapper);
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    max-width: calc(var(--max-width-container) + var(--container-padding) * 2);
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

.image {
    display: block;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.content {
    flex: 1 1 auto;
}

@media (max-width: 768px) {
    .content {
        padding: var(--header-height) 0 0 0;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo__icon {
    flex: 0 0 152px;
    width: 152px;
    height: 36px;
    margin: 0 10px 0 0;
    display: block;
}

@media (min-width: 768px) {
    .logo__icon {
        flex: 0 0 170px;
        width: 170px;
        height: 41px;
    }
}

@media (min-width: 992px) {
    .logo__icon {
        flex: 0 0 195px;
        width: 195px;
        height: 47px;
    }
}

@media (min-width: 1600px) {
    .logo__icon {
        flex: 0 0 220px;
        width: 220px;
        height: 52px;
    }
}

.title {
    margin: 0 0 1.111em 0;
    display: block;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: var(--font-color-primary);
}

.title_light {
    color: var(--font-color-secondary);
}

.title_center {
    max-width: 450px;
    margin: 0 auto 1.111em auto;
    text-align: center;
}

@media (min-width: 768px) {
    .title {
        margin: 0 0 1.136em 0;
        font-size: 1.375rem;
    }

    .title br {
        display: none;
    }

    .title_center {
        margin: 0 auto 1.111em auto;
        max-width: 450px;
    }
}

@media (min-width: 992px) {
    .title_center {
        margin: 0 auto 1.111em auto;
        max-width: 500px;
    }
}

@media (min-width: 1600px) {
    .title {
        margin: 0 0 1em 0;
        font-size: 1.875rem;
    }

    .title_center {
        margin: 0 auto 1.111em auto;
        max-width: 600px;
    }
}

.title__subtitle {
    padding: 1.25em 0 0 0;
    display: block;
    font-size: 0.667em;
    text-transform: none;
}

.title__subtitle_pt-sm {
    padding: 0.833em 0 0 0;
}

@media (min-width: 768px) {
    .title__subtitle {
        padding: 1.071em 0 0 0;
        font-size: 0.875rem;
    }
}

@media (min-width: 1600px) {
    .title__subtitle {
        padding: 1.25em 0 0 0;
        font-size: 1rem;
    }
}

.header {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--z-index-header);
        background-color: var(--background-primary);
        box-shadow: 0px 5px 29px -24px rgba(34, 60, 80, 0.2);
    }
}

.header__container {
    flex: 1 1 100%;
}

.header__row {
    display: flex;
    align-items: center;
}

.header__logo {
    margin: 0 30px 0 0;
}

@media (min-width: 768px) {
    .header__menu {
        margin: 0 20px 0 auto;
    }
}

@media (min-width: 1600px) {
    .header__menu {
        margin: 0 50px 0 auto;
    }
}

.header__cabinet-button,
.header__menu-button {
    flex: 0 0 25px;
    width: 25px;
    height: 25px;
}

.header__cabinet-button svg,
.header__menu-button svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: var(--icon-color);
}

.header__cabinet-button {
    margin: 0 20px 0 auto;
    cursor: pointer;
}

.header__cabinet-button svg {
    fill: none;
    stroke: var(--icon-color);
    stroke-width: 2;
}

.header__cabinet-button span {
    display: none;
}

@media (min-width: 768px) {
    .header__cabinet-button {
        flex: 0 1 auto;
        width: auto;
        height: auto;
        margin: 0;
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--font-color-primary);
        transition: color 0.2s linear;
    }

    .header__cabinet-button svg {
        flex: 0 0 1.563em;
        width: 1.563em;
        height: 1.563em;
        margin: 0 5px 0 0;
        stroke: currentColor;
    }

    .header__cabinet-button span {
        display: block;
        color: inherit;
    }
}

@media (min-width: 768px) and (any-hover: hover) {
    .header__cabinet-button:hover {
        color: var(--color-07);
    }
}

@media (min-width: 1600px) {
    .header__cabinet-button {
        font-size: 1rem;
    }

    .header__cabinet-button svg {
        margin: 0 15px 0 0;
    }
}

@media (min-width: 768px) {
    .header__menu-button {
        display: none;
    }
}

@media (max-width: 768px) {
    .header-menu {
        width: 100%;
        height: 100%;
        padding: 0 0 40px 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--background-primary);
        transform: scale(1.06);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: transform 0.15s linear, opacity 0.15s linear, visibility 0.15s linear;
    }

    .header-menu .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .header-menu.active {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

@media (min-width: 768px) {
    .header-menu .container {
        padding: 0;
    }
}

.header-menu__head {
    min-height: var(--header-height);
    padding: 0 var(--container-padding);
    margin: 0 calc(var(--container-padding) - var(--container-padding) * 2);
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--color-10);
}

@media (min-width: 768px) {
    .header-menu__head {
        display: none;
    }
}

.header-menu__title {
    margin: 0 30px 0 0;
    font-size: 24px;
}

.header-menu__close-button {
    flex: 0 0 25px;
    width: 25px;
    height: 25px;
    margin: 0 0 0 auto;
}

.header-menu__close-button svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: var(--icon-color);
}

.header-menu__items {
    flex: 0 1 auto;
    overflow: auto;
}

@media (min-width: 768px) {
    .header-menu__items {
        display: flex;
        align-items: center;
    }
}

.header-menu__item:not(:last-child) {
    border-bottom: 1px solid var(--color-10);
}

@media (min-width: 768px) {
    .header-menu__item {
        padding: 0 20px;
        border-right: 1px solid var(--color-10);
    }

    .header-menu__item:first-child {
        padding-left: 0;
    }

    .header-menu__item:not(:last-child) {
        border-bottom: none;
    }
}

@media (min-width: 1600px) {
    .header-menu__item {
        padding: 0 50px;
        font-size: 1rem;
    }
}

.header-menu__link {
    padding: 1.667em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.2;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--font-color-primary);
    transition: color 0.1s linear;
}

.header-menu__link.active {
    color: var(--color-07);
}

@media (min-width: 768px) {
    .header-menu__link {
        padding: 0;
        font-size: 0.875rem;
        text-transform: none;
    }
}

@media (min-width: 1600px) {
    .header-menu__link {
        font-size: 1rem;
    }
}

@media (any-hover: hover) {
    .header-menu__link:hover {
        color: var(--color-07);
    }
}

.header-menu__button {
    flex: 0 0 auto;
    margin: auto 0 0 0;
}

@media (min-width: 768px) {
    .header-menu__button {
        display: none;
    }
}

@media (max-width: 768px) {
    .offers__title {
        max-width: 20rem;
        font-size: 1.375rem;
        font-weight: 900;
    }

    .offers__title .title__subtitle {
        font-size: 0.545em;
        font-weight: 400;
    }
}

@media (min-width: 768px) {
    .offers__title {
        max-width: 30.313rem;
    }
}

.offers__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

@media (min-width: 768px) {
    .offers__items {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
}

@media (min-width: 1600px) {
    .offers__items {
        gap: 30px;
    }
}

.offers__item {
    width: 100%;
    margin: 0;
}

.offers__item:not(:last-child) {
    margin: 0;
}

@media (min-width: 768px) {
    .offers__item {
        padding: 20px;
    }
}

.offers__logo {
    width: 100%;
    min-height: 65px;
    margin: 0 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.offers__logo img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.offers__info {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offers__percent {
    padding: 0 10px 0 0;
    display: block;
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--color-13);
}

.offers__percent span {
    color: var(--color-07);
}

@media (min-width: 768px) {
    .offers__percent {
        font-size: 0.875rem;
    }
}

.offers__sum {
    display: block;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--font-color-primary);
}

.offers__sum strong {
    font-size: 1.5em;
}

@media (min-width: 1600px) {
    .offers__sum strong {
        font-size: 1.833em;
    }
}

@media (min-width: 768px) {
    .offers__button {
        height: 48px;
    }
}

.offers__more {
    max-width: 17.813rem;
    width: 100%;
    margin: 20px auto 0 auto;
}

@media (min-width: 768px) {
    .offers__more {
        margin: 30px auto 0 auto;
        height: 48px;
    }
}

@media (min-width: 1600px) {
    .offers__more {
        margin: 40px auto 0 auto;
    }
}

.footer {
    background-color: var(--background-primayr);
}

@media (min-width: 1200px) {
    .footer {
        background-color: var(--color-01);
    }
}

@media (min-width: 1200px) {
    .footer__main {
        max-width: calc(var(--max-width-container) + var(--container-padding) * 2);
        padding: 25px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__main .container {
        flex: 0 1 1025px;
        max-width: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

@media (min-width: 1600px) {
    .footer__main {
        padding: 25px var(--container-padding);
    }
}

.footer__header {
    background-color: var(--color-01);
}

.footer__header-wrapper {
    display: flex;
}

@media (max-width: 1200px) {
    .footer__header-wrapper {
        max-width: calc(var(--max-width-container) + var(--container-padding) * 2);
        min-height: var(--header-height);
        padding: 0 var(--container-padding);
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .footer__header-wrapper {
        margin: 0 10px 0 0;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (min-width: 1200px) {
    .footer__logo .logo__icon {
        flex: 0 0 120px;
        width: 120px;
        height: 29px;
    }
}

@media (min-width: 1600px) {
    .footer__logo .logo__icon {
        flex: 0 0 220px;
        width: 220px;
        height: 52px;
    }
}

.footer__copyright {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.18;
    color: var(--font-color-secondary);
}

@media (min-width: 1200px) {
    .footer__copyright {
        padding: 0 0 0 28px;
        text-align: center;
    }
}

.footer__actions {
    padding: 5px 0 25px;
}

@media (min-width: 1200px) {
    .footer__actions {
        flex: 0 1 600px;
        padding: 0;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .footer__action {
        flex: 1 1 auto;
        display: flex;
    }
}

.footer__link {
    padding: 15px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid var(--color-10);
}

.footer__link .footer__text {
    transition: color 0.1s linear;
}

@media (any-hover: hover) {
    .footer__link:hover .footer__text {
        color: var(--color-07);
    }
}

@media (min-width: 1200px) {
    .footer__link {
        flex: 1 1 auto;
        padding: 0;
        border-bottom: none;
    }
}

.footer__icon {
    flex: 0 0 9.259%;
    width: 9.259%;
    height: 0;
    padding: 0 0 9.259% 0;
    margin: 0 15px 0 0;
}

@media (min-width: 768px) {
    .footer__icon {
        flex: 0 0 35px;
        width: 35px;
        height: 0;
        padding: 0 0 35px 0;
    }
}

@media (min-width: 1200px) {
    .footer__icon {
        flex: 0 0 25px;
        width: 25px;
        height: 0;
        padding: 0 0 25px 0;
    }
}

.footer__text,
.footer__nav-item,
.footer__info-text {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.18;
    color: var(--font-color-primary);
}

@media (min-width: 1200px) {
    .footer__text,
  .footer__nav-item,
  .footer__info-text {
        color: var(--font-color-secondary);
    }
}

.footer__nav {
    padding: 0 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    .footer__nav {
        flex: 0 1 320px;
        padding: 0;
    }
}

.footer__nav-item {
    cursor: pointer;
    transition: color 0.1s linear;
}

.footer__nav-item:not(:last-child) {
    margin: 0 10px 0 0;
}

.footer__nav-item.active {
    color: var(--color-07);
}

@media (any-hover: hover) {
    .footer__nav-item:hover {
        color: var(--color-07);
    }
}

@media (min-width: 1200px) {
    .footer__nav-item {
        padding: 0 0 0 15px;
        border-left: 1px solid var(--color-13);
    }
}

.footer__info {
    padding: 20px var(--container-padding);
    background-color: var(--background-tertiary);
}

@media (min-width: 1200px) {
    .footer__info {
        max-width: calc(var(--max-width-container) + var(--container-padding) * 2);
        padding: 25px var(--container-padding) 30px;
        margin: 0 auto;
        background: none;
    }
}

@media (min-width: 1600px) {
    .footer__info {
        padding: 25px var(--container-padding) 50px;
    }
}

.footer__info-text {
    margin: 0 auto 1.25em auto;
    text-align: justify;
    color: var(--font-color-primary);
}

.footer__info-text:last-child {
    margin: 0 auto;
}

.footer__info-text a {
    font-weight: 700;
    text-decoration: underline;
    color: inherit;
    transition: color 0.15s linear;
}

@media (any-hover: hover) {
    .footer__info-text a:hover {
        text-decoration: none;
        color: var(--color-5);
    }
}

.footer__info-text span {
    padding: 0 0 0.833em 0;
    display: block;
    color: var(--font-color-primary);
}

@media (max-width: 1200px) {
    .footer__info-text {
        max-width: var(--max-width-container);
        padding: 1.25em;
        border-radius: 0.583em;
        background-color: var(--background-primary);
    }
}

@media (min-width: 1200px) {
    .footer__info-text {
        line-height: 1.666;
        color: var(--color-08);
    }

    .footer__info-text:not(:last-child) {
        margin: 0 0 1.667em 0;
    }

    .footer__info-text span {
        color: var(--color-08);
    }
}

@media (min-width: 1600px) {
    .footer__info-text:not(:last-child) {
        margin: 0 0 2.5em 0;
    }
}